.component-main-div {
  background-color: white;
  height: 80vh;
  position: relative;
}
.component-search {
  width: 75%;
  height: 37px;
  border: 1px solid gray;
}
.component-div {
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.component-search {
  right: 50px;
  z-index: 1;
}
.search-icon {
  position: relative;
  left: 30px;
}
.component-detail {
  position: relative;
  left: 150px;
  top: 50px;
}
