.nav-logo {
  width: 50px;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: green;
}
.my-navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.nav-button {
  font-size: 13px;
}
.nav-button:hover {
  background-color: #f5f1ea;
}
.menu-item {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
}
.menu-item:hover {
  background-color: #f5f1ea;
  text-decoration: none;
  outline: none;
}
