.input-list-item {
  padding-top: 100px;
  padding-left: 15px;
  text-decoration: none;
  width: 200px;
  background-color: #f4f6f6;
  height: 97vh;
  float: left;
}
.input-list:hover {
  background-color: #fffdfd;
  text-decoration: none;
  width: 150px;
  height: auto;
}
